<div>
    <div id="makeMarginSpace"></div>

    <div class="container">
        <div class="background">
            <div class="embed-submit-field">
                <!-- #not working off a model here dont need form for -->
                <%= form_tag login_path do %>
                <div class="field">
                    <span class="labeltag"><%= label_tag :email %></span><br/>
                    <%= text_field_tag :email, params[:email]%>
                </div>
                <div class="field">
                    <span class="labeltag"><%= label_tag :password %></span><br/>
                    <%= password_field_tag :password %>
                </div>
                <div class="actions btn submittag"><%= submit_tag "Log In" %></div>
                <% end %>
            </div>
        </div>
    </div>

</div>
