<!DOCTYPE html>
<html>
  <head>
    <title>Fincrypt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div>
    <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log Out", logout_path %> <!-- controller action does not use "current" parameter, but you have to pass something -->
    <% else %>
      <%= link_to "Sign Up", register_path %> or
      <%= link_to "Log In", login_path %>
    <% end %>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
